.btn {
    display: block;
    width: 100%;
    background-color: skyblue;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 1px skyblue;
    outline: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}
html {
    font-size: 62%;
}
body {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
}
* {
    box-sizing: border-box;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: .5rem;
}