<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/app.css">
    <title>Title</title>
</head>
<body th:object="${viewModel}">
<div style="margin: auto;max-width:500px; height: 100%; display: flex; flex-direction: column;">
    <h1>配送依頼変更</h1>
    <form method="post" style="margin-top: 10px;" action="/customer/post/change">
        <div style="display: grid; grid-template-columns: 40% 60%;" class="form-area">
            <div>ご希望日</div>
            <input type="date" th:value="*{date}" name="date">
            <div>ご希望時間</div>
            <input type="time" th:value="*{time}" name="time">
            <div>配達先郵便番号</div>
            <input type="text" th:value="*{zipcode}" name="zipcode">
            <div>配達先住所</div>
            <input type="text" th:value="*{address}" name="address">
            <input type="hidden" th:value="*{deliveryId}" name="deliveryId">
        </div>
        <input type="submit" value="変更" class="btn"/>
    </form>
    <button class="btn" style="margin: 10px 0;" onclick="history.back();">戻る</button>
</div>
</body>
<style>
    .form-area > * {
        padding: .5rem;
        margin: 10px;
    }
</style>
</html>