<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/app.css">
    <title>Title</title>
</head>
<body th:object="${view}" style="text-align: left;">
<div style="max-width:900px; margin: auto;">
    <div style="display: flex; align-items: top;">
        <h1>作業：配達（<span th:text="*{truck}"></span>）</h1>
        <div style="margin-left: auto;">
            <div id="time"></div>
        </div>
    </div>
    <div style="display: grid; grid-template-columns: 50% 50%;">
        <div>
            <div>目的地詳細</div>
            <div style="display: grid; grid-template-columns: 35% 65%;">
                <div>郵便番号</div>
                <div th:text="*{delivery.destinationZipcode}"></div>
                <div>住所</div>
                <div th:text="*{delivery.destinationAddress}"></div>
                <div>名前</div>
                <div th:text="*{delivery.destinationName}"></div>
                <div>名前(カナ)</div>
                <div th:text="*{delivery.destinationNameKana}"></div>
                <div>配達希望時刻</div>
                <div th:text="*{#temporals.format(delivery.deliveryDatetime,'HH:mm')}"></div>
                <div>配送情報ID</div>
                <div th:text="*{delivery.id}"></div>
                <div>個数</div>
                <div th:text="*{delivery.amount}"></div>
            </div>
            <form method="post" action="/deliveryman/next/delivery">
                <input type="hidden" th:value="*{delivery.id}" name="currentDeliveryId">
                <input type="hidden" th:value="*{deliveryScheduleId}" name="deliveryScheduleId">
                <input type="submit" style="margin: 10px 0; width: 80%;" class="btn" value="完了"/>
            </form>
            <form method="post" action="/deliveryman/post/absence">
                <input type="hidden" th:value="*{delivery.id}" name="currentDeliveryId">
                <input type="hidden" th:value="*{deliveryScheduleId}" name="deliveryScheduleId">
                <input type="submit" style="margin: 10px 0; width: 80%;" class="btn" value="不在"/>
            </form>

        </div>
        <div>
            <div>順番</div>
            <div style="text-align: right;">完了件数：<span th:text="*{finished}"></span>/<span th:text="*{total}"></span></div>
            <table border="1">
                <thead>
                <tr>
                    <th>順番</th>
                    <th>住所</th>
                    <th>到着予定時刻</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : *{items}">
                    <td th:text="${item.order}"></td>
                    <td th:text="${item.address}"></td>
                    <td th:text="${#temporals.format(item.estimatedTime,'HH:mm')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
    </div>
</div>
<script>
	getDatetime();
	setInterval(getDatetime, 1000);
	function getDatetime() {
		const datetimeDiv = document.getElementById('time');
		const currentDate = new Date();
		const datetime = format(currentDate.getMonth() + 1, '/')
			+ format(currentDate.getDate(), ' ')
			+ format(currentDate.getHours(), ':')
			+ format(currentDate.getMinutes(), ':')
			+ format(currentDate.getSeconds(), '');
		datetimeDiv.innerText = datetime;
	}
	function format(value, character) {
		return value.toString().padStart(2, '0') + character;
	}






</script>
</body>
</html>