<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/app.css">
    <title>Title</title>
</head>
<body style="align-items: center;display: flex;">
<div style="max-width:600px; text-align: center; margin: auto;">
    <h1>メニュー</h1>
    <div>
        <a class="btn" style="margin-top:10px;" th:href="|/manager/deliveryman/schedule?id=${id}|">配達員スケジュール</a>
        <a class="btn" style="margin-top:10px;" th:href="|/manager/delivery/schedule?id=${id}|">配送スケジュール</a>
        <a class="btn" style="margin-top:10px;" th:href="|/manager/analyze|">営業所分析</a>
    </div>
</div>
</body>
</html>